body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 40px;
}

h2 {
    text-align: center;
}

form {
    background: white;
    padding: 20px;
    max-width: 350px;
    margin: auto;
    border-radius: 5px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

#message {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}
